@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.pointer span {
    cursor: pointer;
    padding-bottom: 20px;
}

.pointer span:hover {
    color: #A6ABAE;
    border-bottom: 1px solid#A6ABAE;

}

.circle:hover {
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}

.max {
    max-width: 50px !important;
}

.bg-img {
    background-image: url(../../public/imgs/lines.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}